.ext-el-mask-msg div,.loading-indicator,.x-tab-strip span.x-tab-strip-text,.x-form-invalid-msg,.x-small-editor .x-form-field,.x-fieldset legend,.x-btn,.x-btn button,.x-toolbar td,.x-toolbar span,.x-toolbar input,.x-toolbar div,.x-toolbar select,.x-toolbar label,.x-grid3-hd-row td,.x-grid3-row td,.x-grid3-summary-row td,.x-grid3-topbar,.x-grid3-bottombar,.x-grid-group-hd div,.x-grid-empty,.x-dd-drag-ghost,.x-tree-node,.x-date-middle,.x-date-left,.x-date-right,.x-date-inner a,.x-date-mp td,.x-date-mp-btns button,.x-tip .x-tip-mc,.x-tip .x-tip-header-text,.x-tip .x-tip-body,.x-menu-list-item,#x-debug-browser .x-tree .x-tree-node a span,.x-combo-list-hd,.x-combo-list-small .x-combo-list-item,.x-panel-header,.x-panel-tl .x-panel-header,.x-panel-mc,.x-window-tl .x-window-header,.x-window-mc,.x-progress-text,.x-date-inner th,.x-date-mmenu .x-menu-item{font-size:12px}
.ext-ie .x-menu-item-icon {left: -24px;}
.ext-strict .x-menu-item-icon {left: 3px;}
.x-grid3 table {table-layout:fixed;}



.x-btn-default-small .x-btn-inner, .x-btn-default-medium .x-btn-inner, .x-btn-default-large .x-btn-inner, .x-btn-default-toolbar-small .x-btn-inner, .x-btn-default-toolbar-medium .x-btn-inner, .x-btn-default-toolbar-large .x-btn-inner, .x-menu-item-text, .x-html-editor-tb .x-font-select, .x-panel-header-default, .x-panel-header-text-default, .x-panel-header-default-framed, .x-tip-header, .x-tip-body, .x-form-invalid-tip-body, .x-tip-header-text, .x-progress-text, .x-toolbar, .x-toolbar .x-form-item-label, .x-toolbar .x-toolbar-text, .x-window-header-text-default, .x-tab-bar, .x-tab button, .x-grid-rowbody, .x-grid-row .x-grid-cell, .x-grid-group-title, .x-grid-row-editor .x-form-field, .x-grid-row-editor .x-form-display-field, .x-form-invalid-under, .x-fieldset-header, .x-column-header, .x-mask-msg div, .x-btn-group-header-text-default-framed, table.x-datepicker-inner a, .x-monthpicker-item, .x-dd-drag-ghost 
{ 
    font-size: 12px; 
} 

.x-column-header 
{ 
    text-shadow:0 0 0 rgba(255, 255, 255, 0.3);
}

/**解决IE9及Firefox字体小的问题*/

x-window-footer {
    position: relative;
    top: 0;
    right: 0;
}
.x-tab-strip SPAN.x-tab-strip-text {
    font-size: 12px;
}
.x-panel-header {
    font-size: 12px;
}
.x-tree-node {
    font-size: 12px;
}
.x-grid3-hd-row TD {
    font-size: 12px;
}
.x-grid3-row TD {
    font-size: 12px;
    LINE-HEIGHT: 16px;
}
.x-tip .x-tip-bd {
    font-size: 12px;
}
.x-tip h3{
    font-size: 12px;
}
.x-tip .x-tip-bd-inner{
    font-size:12px;
}
.x-panel-tl .x-panel-header {
    FONT: normal 12px tahoma,arial,verdana,sans-serif;
}
.x-form-field {
    FONT: 12px tahoma,arial,helvetica,sans-serif  
}
.x-small-editor .x-form-field {
    FONT: 12px tahoma,arial,helvetica,sans-serif  
}
.x-combo-list-item {
    FONT: 12px tahoma,arial,helvetica,sans-serif;  
}  
.x-menu-list-item {
    FONT: 12px tahoma,arial,sans-serif;
}
.x-window-tl .x-window-header {
    FONT: bold 12px tahoma,arial,verdana,sans-serif;  
}
.x-layout-split-west .x-layout-mini {  
    BACKGROUND-IMAGE: url(../images/mini-left.jpg);  
}
.ext-ie .x-form-text {
    margin-top:1px;
}
.x-form-item {  
    FONT: 12px tahoma,arial,helvetica,sans-serif
}
.x-grid-group-hd DIV {  
    FONT: bold 12px tahoma,arial,helvetica,sans-serif;
}
..x-btn-text-icon .x-btn-center .x-btn-text {ext-all.css (line 227)
background-position:0pt 2px;
background-repeat:no-repeat;
padding:3px 0pt 2px 18px;
}
.ext-gecko .x-btn button {ext-all.css (line 222)
padding-left:0pt;
padding-right:0pt;
}
.x-btn button{
    font-size:12px;
}


#msg-div {  
    position: absolute;  
    left: 35%;  
    top: 10px;  
    width: 250px;  
    z-index: 20000;  
}  
  
.msg .x-box-mc {  
    font-size: 14px;  
} 



.x-toolbar div.xtb-text{
 padding:2px 2px 0;
 line-height:16px;
font-size:12px;
 display:block;
}
.x-tip .x-tip-header-text {
 font: bold 12px tahoma,arial,helvetica,sans-serif;
 color:#444;
}

.x-tip .x-tip-body {
 font: normal 12px tahoma,arial,helvetica,sans-serif;
 color:#444;
}
.ext-el-mask-msg div {
 background-color: #eee;
 border-color:#a3bad9;
 color:#222;
 font:normal 12px tahoma, arial, helvetica, sans-serif;
}



